* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none !important;
  scroll-padding-top: 2rem;
}
html {
  scroll-behavior: smooth;
}
/* custom scroll bar */
html::-webkit-scrollbar {
  width: 0.5rem;
  background-color: var(--text-color);
}
html::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 5rem;
}
/* custom scroll bar */
:root {
  --main-color: #ff2c1f;
  --text-color: #020307;
  --bg-color: #fff;
}
section {
  padding: 4.5rem 1.5rem;
}
body {
  font-family: "Poppins", sans-serif !important;
  background: var(--text-color) !important;
  color: var(--bg-color) !important;
}

/* Navbar */
header {
  z-index: 1000;
  transition: 0.5s;
}
header.shadow {
  background-color: var(--bg-color);
  box-shadow: 0 0 4px rgb(14 55 54 / 15%) !important;
}
header.shadow .navbar-list a {
  color: var(--text-color);
}
header.shadow .logo {
  color: var(--text-color) !important;
}
header .logo {
  font-size: 1.1rem;
  font-weight: 600;
}
.logo i {
  color: var(--main-color);
}
.navbar-list a {
  font-weight: 500;
  color: var(--main-color);
}
.navbar-list a::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 0;
  height: 3px;
  left: 0;
  bottom: -4px;
  transition: 0.4s all linear;
}
.navbar-list a:hover {
  color: var(--main-color);
}
.navbar-list a:hover::after,
.navbar-list .home-active::after {
  width: 100%;
}
header .btn {
  background-color: var(--main-color);
  padding: 0.7rem 1.4rem;
  border-radius: 0.5rem;
}
header .btn:hover {
  background: #fa1216 !important;
}
#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 100001;
  display: none;
}
@media (max-width: 991px) {
  .navbar-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--bg-color);
    flex-direction: column !important;
    align-items: center;
    padding: 2rem;
    gap: 1.5rem !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-150%);
    transition: 0.3s all ease-in-out;
    z-index: 1000;
  }

  .navbar-list.active {
    transform: translateY(0);
    gap: 1.5rem !important;
  }
  .navbar-list.active a {
    color: #020307;
  }
  .navbar-list.active a:hover,
  .navbar-list.active .home-active {
    color: var(--main-color);
  }

  #menu-icon {
    display: block;
    z-index: 1001;
  }

  header.shadow .navbar-list {
    background: var(--bg-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  header.shadow #menu-icon {
    color: var(--text-color);
  }
}
/* Navbar */

/* Home */
.home {
  background-image: url(../img/home3.jpg);
  background-position: center;
  background-size: cover;
}

.home .home-text {
  top: 40%;
}
.home-text .btn {
  background-color: var(--main-color) !important;
  padding: 0.7rem 1.4rem !important;
  border-radius: 0.5rem !important;
  -webkit-border-radius: 0.5rem !important;
  -moz-border-radius: 0.5rem !important;
  -ms-border-radius: 0.5rem !important;
  -o-border-radius: 0.5rem !important;
}
.btn:hover {
  background: #fa1216 !important;
}
/* Home */

/* Movies */
.box .box-img {
  height: 270px;
}
.box-img img {
  object-fit: cover;
  cursor: pointer;
  transition: 0.2s all linear;
}
.box-img img:hover {
  transform: translateY(-10px);
}
.box h3 {
  color: var(--main-color);
}
.box span {
  font-size: 13px;
}
/* Movies */

/* news */
.news form {
  border-radius: 0.5rem;
}
.news form input[type="email"] {
  outline: 0;
  width: 300px;
}
.news input::placeholder {
  color: var(--text-color);
  font-size: 0.8rem;
  font-weight: 400;
}
.news .btn {
  outline: 0;
  cursor: pointer;
  background-color: var(--main-color);
  padding: 0.7rem 1.4rem;
  border-radius: 0.5rem;
}
.btn:hover {
  background: #fa1216;
}
/* news */

/* footer */
.social-icons a {
  width: 55px;
  height: 55px;
  color: var(--main-color);
  border: 4px solid rgb(2, 3, 7, 0.4);
  transition: 0.2s all linear;
}
.social-icons a:hover {
  background-color: var(--main-color) !important;
  color: var(--bg-color) !important;
}

@media (max-width: 472px) {
  .news form .email {
    display: none;
  }
}
/* footer */

/* copy */
.copy span {
  color: var(--main-color);
  cursor: pointer;
}
/* copy */
